
@{
    ViewBag.Title = "Contact";
}
    <div class="row">
        <div class="col-sm-12">
            <div class="jumbotron">
                <h1>Learn, Shared, Build!</h1>
                <h4>Each month, over 50 million developers come to stack overflow to learn, share their knowledge and build their careers.</h4>
                <p class="lead">Join the world's largest developer community</p>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header bg-dark text-light">Teams</div>
                <div class="card-body">
                    <p>Stack Overflow for Teams will also soon have a public version for use by open source projects and nonprofits that are happy to work in the open.
                    </p>
                        <a href="#">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    Enterprise
                </div>
                <div class="card-body">
                    <p>Stack Overflow Enterprise customers will soon be able to divide their users into teams so that different divisions can keep proprietary information separate from each other.
                </p>
                    <a href="#">Learn more</a>
                </div>
            </div>
        </div>
    </div>
    <script>
    $("a[href='/home/contact']").attr("id","active");
    </script>
